p {
    margin: 10px 0 !important;
}

.login-container {
    
    max-width: 400px;

}

.wrap{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    text-align: center;
    
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}